body {
  position: relative;
  font-family: sans-serif;
  margin: 0;

  height: 100%;
}

html {
  height: 100%;
}

.RaceView {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  overflow-x: scroll;

  background: url('/platformer-bg.jpg') center center / cover no-repeat;
}

.RaceView-viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  height: 0;
  margin: auto;

  width: 1000%;
}

.Vehicle-container {
  position: absolute;
  top: 0;
  left: 0;
}

.Vehicle-svg {
  overflow: visible;
}

.Vehicle-body {
  fill: grey;
  stroke: rgba(0,0,0, 0.9);
}

.Vehicle-wheels {
  fill: black;
}

.Terrain {
  position: absolute;
  top: 0;
  left: 0;
}

.Terrain-svg {
  overflow: visible;
  stroke: black;
  fill: rgba(0,0,0, 0.5);
}